<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BEGIN: COSTOM CSS LINK -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- END: COSTOM CSS LINK -->

    <!-- ================ FONTAWESOME CDN START HERE ==================== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!-- ================ FONTAWESOME CDN END HERE ==================== -->

    <!-- =========== BEGIN: CUSTOM LINKS START HERE =========== -->
    <link rel="stylesheet" href="css/style1.css">
    <link rel="stylesheet" href="css/navbar.css">
    <!-- =========== END: CUSTOM LINKS END HERE =========== -->

    <title>Jewlery Trading | Dashboard</title>
</head>

<body>
    <!-- ================== DASHBOARD BANNER SECTION START HERE ===================== -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <img src="img/banner.jpg" alt="">
                    <h1>Gea Indonesia</h1>
                    <p>geaindonesia2023@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <!-- ================== DASHBOARD BANNER SECTION END HERE ======================= -->

    <!-- ================== DASHBOARD BUTTON SECTION START HERE ===================== -->
    <div class="container">
        <div class="btn-sec">
            <div class="row">

                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <a href="changeProfile.html">
                        <button>
                        <img src="img/banner-btn-1.jpg" alt="">
                        Profile
                    </button>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <a href="transaction.html">
                        <button>
                            <img src="img/banner-btn-2 .jpg" alt="">
                            Transaction
                        </button>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <a href="Account.html">
                        <button>
                            <img src="img/banner-btn-3.jpg" alt="">
                            Bank Account
                        </button>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <a href="withdraw.html">
                        <button>
                            <img src="img/banner-btn-4.jpg" alt="">
                            Withdraw
                        </button>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <button>
                        <img src="img/banner-btn-5.jpg" alt="">
                        APK
                    </button>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                    <button>
                        <img src="img/banner-btn-6.jpg" alt="">
                        Log Out
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================== DASHBOARD BUTTON SECTION END HERE ==================== -->

    <!-- ================ DASHBOARD INVESTEMENT SECTION STRAT HERE =============== -->
    <div class="container">
        <div class="investment">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 inves col-sm-12 col-12">
                    <center>
                        <a href="investment.html">
                            <button>YOUR INVESTMENTS</button>
                        </a>
                    </center>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="withdraw">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 draw">
                    <h1>Total Balance</h1>
                    <p>IDR 2,890,098</p>
                    <center><button>
                            <img src="img/banner-btn-4.jpg" alt="">
                            Withdraw
                        </button></center>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="profit">
            <div class="row">
                <div class="col-md-6 recently">
                    <h1>Total Investments</h1>
                    <p>Active Investments : <strong>01 Investments</strong></p>
                    <h6>Recently Expired Investments : <span>01 Investments</span>
                    </h6>
                </div>
                <div class="col-md-6 recently">
                    <h1>Total Profit</h1>
                    <p>Total Profit : <strong>IDR 3,280,384</strong></p>
                    <h6>Last Month Profit : <span>IDR 1,280,384</span>
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <!-- ================ DASHBOARD INVESTEMENT SECTION END HERE =============== -->

    <!--=============== NAVBAR ===============-->
    <nav class="menu">
        <input type="radio" name="menu" id="one">
        <input type="radio" name="menu" id="two">
        <input type="radio" name="menu" id="three">
        <input type="radio" name="menu" id="four" checked>
        <div class="list">
            <div class="link-wrap">
                <label for="one">
                    <!-- <i class="material-icons">home</i> -->
                    <a href="home.html"><img src="img/home.png" alt="" /></a>
                    <span>Home</span>
                </label>
                <label for="two">
                    <!-- <i class="material-icons">cloud_upload</i> -->
                    <a href="invites.html"><img src="img/add-user.png" alt=""></a>
                    <span>Invites</span>
                </label>
                <label for="three">
                    <!-- <i class="material-icons">settings</i> -->
                    <a href="#"><img src="img/play-store.png" alt=""></a>
                    <span>APK</span>
                </label>
                <label for="four">
                    <!-- <i class="material-icons">settings</i> -->
                    <a href="index1.html"><img src="img/dashboard.png" alt=""></a>
                    <span>Dashboard</span>
                </label>
            </div>
        </div>
    </nav>
    <!--=============== MAIN JS ===============-->

    <!-- BEGIN: BOOTSTARP JS LINK -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- END: BOOTSTARP JS LINK -->

</body>

</html>