@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --brown: #BD9277;
    --of-white: #FFFFFF;
    --grey-white: #F1F1F1;
    --black: #000000;
    --dark-grey: #606060;
    --white: #FFFFFF;
}

body {
    background: #F1F1F1;
}

.jewlery-referral-header {
    background-image: url(../img/main-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.jewlery-referral-header .col-md-12 h1 {
    margin: 200px auto 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.jewlery-referral-header .col-md-12 p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: var(--white);
    margin-bottom: 10px;
}

.jewlery-referral-header .col-md-12 button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 25px;
    gap: 10px;
    width: 170px;
    height: 35px;
    background: var(--brown);
    border: none;
    border-radius: 25px;
    margin: 0px auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
}

.referral-table-section {
    margin: 20px 35px 83px;
}

.referral-breadcrumb .breadcrumb {
    margin: 0px 0px 20px;
}

.referral-breadcrumb .breadcrumb .breadcrumb-item {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--brown);
}

.referral-breadcrumb .breadcrumb .breadcrumb-item a {
    text-decoration: none;
    color: var(--dark-grey);
}

#member-detail-card .col-md-12 {
    background-image: url(../img/jewlery-level-card.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    padding: 20px 15px 23px 20px;
    border-radius: 10px;
}

#member-detail-card .col-md-12 h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--black);
}

#member-detail-card .col-md-12 table {
    width: 100%;
    margin-top: 20px;
}

#member-detail-card .col-md-12 table th {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--black);
    padding-bottom: 10px;
}

#member-detail-card .col-md-12 table td {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: var(--black);
    padding-bottom: 10px;
}

.table-heading {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #606060;
    margin-bottom: 20px;
    text-align: center;
}

.referral-table table thead {
    background: #BD9277;
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.table-separate {
    border-collapse: separate;
    border-spacing: 0px 15px;
}

/* th area */
.table-separate thead th {
    background-color: var(--brown);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;

}

.table-separate thead th:first-child {
    padding: 7px 30px 8px 20px;
    border-radius: 10px 0px 0px 10px;
}

.table-separate thead th:nth-child(2) {
    padding: 7px 70px 8px 0px;
}

.table-separate thead th:last-child {
    border-radius: 0px 10px 10px 0px;
}

/* th  area */

/* td area */
.table-separate tbody td {
    background: #F1F1F1;
    border-width: 0.5px 0.5px 0.5px 2px;
    border-style: solid;
    border-color: #BD9277;
    /* border-radius: 10px; */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
    padding: 14px 0px;
}

.table-separate tbody td:first-child {
    border-radius: 10px 0px 0px 10px;
    border-right: none;
    padding: 14px 0px 14px 20px;
}

.table-separate tbody td:nth-child(2) {
    /* border-radius: 10px 0px 0px 10px; */
    border-right: none;
    border-left: none;
}

.table-separate tbody td:last-child {
    border-radius: 0px 10px 10px 0px;
    border-left: none;
}

/* td area */

@media (max-width: 767px) {
    .jewlery-referral-header .col-md-12 h1 {
        width: 500px;
    }
}

@media (max-width: 480px) {
    .jewlery-referral-header {
        height: 250px;
    }

    .jewlery-referral-header .col-md-12 h1 {
        font-size: 18px;
        line-height: 22px;
        margin: 71px auto 10px;
        width: 273px;
    }

    .jewlery-referral-header .col-md-12 p {
        font-size: 12px;
        line-height: 15px;
        width: 239px;
        margin: 0px auto;
    }

    .jewlery-referral-header .col-md-12 button {
        padding: 9px 25px;
        font-size: 18px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 10px;
    }

}

@media (max-width: 320px) {
    .jewlery-referral-header .col-md-12 h1 {
        width: 250px;
    }

    .jewlery-referral-header .col-md-12 p {
        width: 200px;
    }
}

@media (max-width: 300px) {
    #member-detail-card .col-md-12 table th {
        font-size: 10px;
    }

    #member-detail-card .col-md-12 table td {
        font-size: 10px;
    }
}