@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Montserrat', sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --brown: #BD9277;
    --of-white: #FFFFFF;
    --grey-white: #F1F1F1;
    --black: #000000;
    --dark-grey: #606060;
}

body {
    background: #F1F1F1;
}

.header-bgimg {
    background-image: linear-gradient(180deg, rgba(109, 109, 109, 0.6) 0%, rgba(181, 181, 181, 0) 79.6%), url(../img/main-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 200px 78px 149px;
}

.header-bgimg h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: var(--of-white);
    margin-bottom: 10px;
}

.header-bgimg p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 10px;
    color: var(--of-white);
}

.header-bgimg .btn {
    background: var(--brown);
    border-radius: 25px;
    border: var(--brown);
    padding: 9px 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--of-white);
}

.header-bgimg .btn:focus {
    box-shadow: none;
}

.transaction-breadcrumbs {
    padding-top: 20px;
}

.transaction-breadcrumbs .breadcrumb {
    margin-bottom: 20px;
}

.transaction-breadcrumbs li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #BD9277 !important;
}

.transaction-breadcrumbs li a {
    color: #606060 !important;
    text-decoration: none;
}

.transaction-sec h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #606060;
    text-align: center;
    margin-bottom: 10px;
}

.transaction-sec p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #606060;
    margin-bottom: 0px;
}

.transaction-card {
    background: #F1F1F1;
    border: 1px solid #BD9277;
    border-radius: 10px;
    padding: 17px 15px;
    margin-top: 20px;
}

.transaction-card h6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #BD9277;
    margin-bottom: 10px;
}

.transaction-card .date-line {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #BD9277;
    margin-bottom: 10px;
}

.transaction-card .date-line>span {
    color: #000000;
    padding-left: 50px;
}

.transaction-card .income-line {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #BD9277;
    margin-bottom: 0px;
}

.transaction-card .income-line>span {
    color: #97E997;
    padding-left: 30px;
}

.transaction-card .expire-income {
    color: #FD8484 !important;
}


/* PAGINTAION START HERE*/

.pagination-sec {
    margin-top: 30px;
    margin-bottom: 50px;
}

.pagination-sec .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.pagination-sec .page-link {
    background: #F1F1F1;
    border: 1px solid #BD9277;
    border-radius: 2px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #BD9277;
    margin-right: 5px;
}

.pagination-sec .page-link:focus {
    box-shadow: none;
}


/* ====================================== MEDIA QUERIES START HERE ================================= */

@media only screen and (min-width: 992px) and (max-width: 1024px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 480px) and (max-width: 767px) {}

@media only screen and (min-width: 321px) and (max-width: 479px) {
    .header-bgimg {
        background-image: linear-gradient(180deg, rgba(109, 109, 109, 0.6) 0%, rgba(181, 181, 181, 0) 79.6%), url(../img/mbl-header-img.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        padding: 71px 78px 50px;
    }
}

@media only screen and (max-width: 320px) {
    .header-bgimg {
        background-image: linear-gradient(180deg, rgba(109, 109, 109, 0.6) 0%, rgba(181, 181, 181, 0) 79.6%), url(../img/mbl-header-img.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        padding: 71px 25px 50px;
    }
}


/* ====================================== MEDIA QUERIES END HERE ================================= */